<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Security-Policy" content="default-src *;
   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *">
    <link rel="shortcut icon" type="image/png" href="/images/icon.png" />

    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />

    <link rel="stylesheet" href="/Leaflet library/leaflet.css"> 
     <script src="/Leaflet library/leaflet.js"></script>

    <!-- Load socket.io client library -->
    <script  src="/socket.io/socket.io.js"></script>
  
    <!-- Load Axios from a CDN -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  
    <script defer src="/js/citizen-script.js"></script>

    <title>Uber-For-X</title>
  </head>
  <body data-userId= "<%= userId %>"">
    <div class="sidebar">

      <ul class="workouts">
        <h1 class="owner-header">Hello, <%= name %></h1>
        <p class="data">Email: <%= email %></p>
        <p class="data">Phone: <%= phone %></p>
      </ul>
      
      <div class="request-backup">
        <% if(reqBackup.exist){ %>
          <h1 class="req-backup-header owner-header"><%= reqBackup.header %></h1>
            <% if(reqBackup.state==='investigating') { %>
             <p class="data">Cop name: <%= reqBackup.copName %></p>
              <p class="data">Cop Phone: <%= reqBackup.copPhone %></p>
              <p class="data">Cop Earned Ratings: <%= reqBackup.copEarnedRatings %></p>
              <p class="data">Cop Total Ratings: <%= reqBackup.copTotalRatings %></p>
              <input type="text" hidden class="copCoords" value="<%= reqBackup.copCoords %>">
            <% } %>
        <% } %>
      </div>
      <div class="sidebar-footer">
        <p class="copyright">
          &copy; Copyright by
          <a
            class="linkedin-link"
            target="_blank"
            href="https://www.linkedin.com/in/ahmed-adel-285077217/"
            >Ahmed Adel</a
          >
        </p>

        <button class="reset-btn request-btn">Request for help!</button>

      </div>
    </div>

    <div id="map"></div>
  </body>
</html>
